.detail {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 150%;
  padding: 50px;
}

.related-products {
  margin: 20px auto 0;
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 150%;
}

.related-products h3 {
  width: 100%;
}

.detail img {
  max-width: 500px;
  width: 100%;
  height: 450px;
  object-fit: contain;
  display: block;
}

.detail-product {
  max-width: 300px;
  width: 100%;
  margin: 20px;
}

.detail-product h3 {
  text-transform: capitalize;
  color: #333;
  letter-spacing: 2px;
  font-weight: 1rem;
}

.detail-product p {
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}

.detail-product p:first-child {
  font-size: 30px !important;
}

.detail-product .cart {
  background: #333;
  color: white;
  font-size: 1.3rem;
  padding: 10px 25px;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.detail-product .cart:active {
  transform: translate(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

@media only all and (max-width: 426px) {
  .detail {
    padding: 10px;
  }
}

@media only all and (max-width: 321px) {
  .cart {
    font-size: 15px !important;
  }
}