.product_card {
  max-width: 300px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  margin: 10px 0;
  z-index: 999;
  background: white;
  box-shadow: 0 0 15px #dddddd;
}

.product_card:hover {
  box-shadow: 0 0 15px #a3a2a2;
  scale: 1.05;
}

.product_card img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.product_box, .row_btn {
  text-align: center;
}

.product_box #title {
  margin-top: 10px;
  white-space: nowrap;
  text-transform: capitalize;
  color: #323232;
  font-weight: 300;
  font-size: 25px;
}

.product_box p {
  color: black;
  font-weight: 700;
}

.row_btn {
  width: 100%;
  margin-top: 10px;  
}

.row_btn a {
  width: 80%;
  text-align: center;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 6px;
  background: #708990;
  border-radius: 5px;
  font-size: 17px;
  display: inline-block;
}

.row_btn a:hover {
  transform: translateY(-2px);
  background: #94acb3;
}

.row_btn a:active {
  transform: translateY(-1px);
}