.home-center {
  background: #E9FAE8;
}

.home {
  width: 75%;
  margin: 0 auto;
}

.products-home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px 0;
  overflow: hidden;
  text-align: center;
}

.home-button {
  text-align: center;
}

.home-button button {
  border: 1px solid lightblue;
  outline: none;
  border-radius: 2px;
  color: lightblue;
  background: white;
  padding: 5px 20px;
  margin: 10px 0;
}

@media only all and (min-width: 320px) and (max-width: 1024px) {
  .home {
    width: 100%;
  }
}

@media only all and (min-width: 2560px) {
  .home {
    width: 40%;
  }
}

