.shopping-cart {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.cart-detail {
  width: 70%;
}

.cart {
  position: relative;
  transform: scaleY(0.98);
  margin: 0 auto;
  overflow: hidden;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 150%;
  padding: 10px;
  box-shadow: 0 0 15px #ddd;
  border-radius: 3px;
}

.cart img {
  max-width: 200px;
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
}

.box-detail {
  text-align: center;
}

.amount span {
  color: crimson;
  padding: 0 20px;
}

.amount button {
  font-size: 20px;
  width: 30px;
  height: 35px;
  align-items: center;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}

.delete {
  position: absolute;
  top: 0;
  right: 5px;
  color: #83C386;
  font-weight: 900;
  cursor: pointer;
}

.total {
  margin-top: 35px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address, .payment{
  width: 90%;
  text-align: center;
  box-shadow: 0 0 3px #dddddd;
}

.address-title, .address-name, .payment {
  font-weight: 600;
}

.address {
  text-align: left;
  padding: 5px 0 0 10px;
}

.payment {
  margin: 20px 0;
  padding: 5px 0 0 10px;
  text-align: left;
}

.payment-button {
  width: 100%;
  padding: 20px;
}

.total .payment span {
  color: crimson;
}

.no-products {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no-products img {
  width: 30%;
  height: 30%;
  margin: 0 auto; 
}

.no-products a {
  background: lightblue;
  color: white;
  width: 20%;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0 auto;
  outline: none;
}

@media only all and (min-width: 320px) and (max-width: 1024px) {
  .shopping-cart {
    display: flex;
    flex-direction: column;
  }

  .cart-detail {
    width: 100%;
  }

  .total {
    width: 80%;
    margin: 2rem auto 0;
  }
}

@media only all and (max-width: 426px) {
  .no-products img {
    width: 50%;
    height: 50%; 
  }

  .no-products a {
    width: 70%;
  }
}

@media only all and (min-width: 768px) and (max-width: 1024px) {
  .no-products a {
    width: 50%;
  }
}