.footer {
  width: 80%;
  margin: 0 auto;
}

.footer-infor {
  display: flex;
  justify-content: space-between
}

.footer-social {
  text-align: center;
  margin: 20px 0;
}

.footer-social i {
  margin-right: 20px;
}

.fb {
  color: #45619D;
}

.yt {
  color: red;
}

.footer-social .ld {
  color: lightblue;
}