.footer-notify {
  margin-top: 4rem;
}

.footer {
  width: 80%;
  margin: 1rem auto;
}

.footer-infor {
  display: flex;
  justify-content: space-between
}

.footer-social {
  text-align: center;
  margin: 20px 0;
}

.footer-social i {
  margin-right: 20px;
}

.fb {
  color: #45619D;
}

.yt {
  color: red;
}

.footer-social .ld {
  color: lightblue;
}

.register-notification {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between
}

.register-notification img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.register-notification .infor-notifi {
  margin-top: 20px;
}

.register-notification form {
  margin-top: 20px;
}

.register-notification form input {
  width: 15rem;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  margin-right: 10px;
}

.register-notification form button {
  outline: none;
  background-color: #31BDF1;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

@media only all and (min-width: 320px) and (max-width: 1024px) {

}